# Python cache file
*__pycache__*

# EXE file
*PUSHER_FETCHER_1

# FEniCS results folder
*structureResults*

# Plots
*.png

# C++ output file
dispCpp.txt
/.metadata/

# ThirdParty Files
thirdParty/MUI/MUI-2.0/
thirdParty/MUI/build/
thirdParty/MUI/cmake/
thirdParty/MUI/wrappers/Python/.eggs/
thirdParty/MUI/wrappers/Python/build/
thirdParty/MUI/wrappers/Python/mui4py.egg-info/
